.container {
  max-width: 1170px;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

img {
  max-width: 100%;
}

.inbox_people {
  background-color: #f8f9fa;
  float: left;
  overflow-y: auto;
  width: 30%;
  border-right: 1px solid #ddd;
  border-radius: 10px;
}

.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
  border-radius: 10px;
}

.top_spac {
  margin: 20px 0 0;
}

.recent_heading {
  float: left;
  width: 40%;
}

.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%;
}

.headind_srch {
  padding: 10px 29px 10px 20px;
  overflow: hidden;
  border-bottom: 1px solid #c4c4c4;
  border-radius: 10px;
}

.recent_heading h4 {
  color: #2C6822;
  font-size: 21px;
  margin: auto;
}

.srch_bar input {
  border: 1px solid #cdcdcd;
  border-width: 0 0 1px 0;
  width: 80%;
  padding: 2px 0 4px 6px;
  background: none;
  border-radius: 10px;
}

.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}

.srch_bar .input-group-addon {
  margin: 0 0 0 -27px;
}

.chat_ib h5 {
  font-size: 15px;
  color: #464646;
  margin: 0 0 8px 0;
}

.chat_ib h5 span {
  font-size: 13px;
  float: right;
}

.chat_ib p {
  font-size: 14px;
  color: #989898;
  margin: auto;
}

.chat_img {
  float: left;
  width: 12%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 50%;
}

.chat_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people {
  overflow: hidden;
  clear: both;
}

.chat_list {
  position: relative;
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.chat_list:hover {
  background-color: #f2f2f2;
}

.chat_list.active_chat {
  background-color: #ebebeb;
}

.chat_list.active_chat::after {
  content: '';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: #2C6822;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(44, 104, 34, 0.5);
}

.inbox_chat {
  height: 550px;
  overflow-y: scroll;
  border-radius: 10px;
}

.active_chat {
  background: #ebebeb;
}

.incoming_msg {
  display: flex;
  margin: 10px 0;
  align-items: flex-end;
}

.incoming_msg_img {
  display: inline-block;
  width: 5%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  margin-right: 10px;
}

.incoming_msg_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.received_msg {
  display: inline-flex;
  padding: 10px;
  max-width: 75%;
  background-color: #ebebeb;
  border-radius: 10px;
  position: relative;
  word-wrap: break-word;
  word-break: break-word;
}

.received_msg p {
  margin: 0;
  font-size: 14px;
  color: #2e2e2e;
}

.received_msg .time_date {
  display: block;
  font-size: 12px;
  color: #747474;
  margin-top: 5px;
  text-align: right;
}

.received_withd_msg p {
  background: #c4c4c4 none repeat scroll 0 0;
  color: #2e2e2e;
  overflow: hidden;
  margin: 0;
  height: auto;
  border-radius: 10px;
  font-size: 14px;
  padding: 5px 10px;
  width: auto;
  max-width: 100%;
  box-sizing: border-box;
    word-wrap: break-word;
    word-break: break-word;
}

.time_date {
  color: #747474;
  display: block;
  font-size: 14px;
  float: right;
  margin: 8px 0 0;
}

.incoming_msg .time_date{
  float: left;
  margin-left: 10px;
}

.received_withd_msg {
  width: fit-content;
  max-width: 100%;
  background: #ebebeb;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  display: inline-block;
}

.mesgs {
  width: 70%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.sent_msg p {
  background: #2C6822 none repeat scroll 0 0;
  border-radius: 10px;
  font-size: 14px;
  margin: 0;
  color: #fff;
  padding: 5px 10px 5px 10px;
  width: 100%;
}

.outgoing_msg {
  overflow: hidden;
  height: auto;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
}

.sent_msg {
  max-width: 75%;
  background-color: #2C6822;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  word-wrap: break-word;
  word-break: break-word;
  color: #fff;
}

.sent_msg p {
  background: #2C6822;
  border-radius: 10px;
  font-size: 14px;
  margin: 0;
  color: #fff;
  padding: 5px 10px;
  width: auto;
  max-width: 100%;
  box-sizing: border-box;
  font-weight: lighter;
}

.sent_msg .time_date {
  display: block;
  font-size: 12px;
  color: #dcdcdc;
  margin-top: 5px;
  text-align: right;
}

.time_date {
  color: #747474;
  display: block;
  font-size: 14px;
  margin: 8px 0 0;
}

.incoming_msg .time_date{
  margin-left: 10px;
  float: left;
}

.input_msg_write in                                                                                                                                                                                                                  put {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
  border-radius: 10px;
}

.type_msg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #c4c4c4;
  position: relative;
}

.msg_send_btn {
  background: #2C6822;
  border: none;
  color: white;
  border-radius: 50%;
  font-size: 17px;
  cursor: pointer;
  height: 33px;
  width: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.msg_send_btn:hover {
  background: #24591c;
}

.msg_send_btn i {
  font-size: 16px;
}

.messaging {
  padding: 0 0 50px 0;
  border-radius: 10px;
}

.msg_history {
  height: 516px;
  overflow-y: auto;
  max-width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
  background-color: #f7f7f7;
}

.icon-plane {
  font-size: 10px;
  color: #000;
}

#sendButton {
  background: none;
  border: none;
  cursor: pointer;
}

.input_msg_write {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 5px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #f8f8f8;
  height: 50px;
  box-sizing: border-box;
}

.write_msg {
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
  background-color: transparent;
  color: #4c4c4c;
  height: 100%;
  line-height: 50px;
}

.type_msg.no-messages {
  border-top: none;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.no-messages-text {
  text-align: center;
  margin-top: 20px;
  font-weight: 600;
  color: #2E2E2E;
  font-size: 1.5em;
}

.no-messages-illustration {
  display: block;
  margin: 20px auto;
  width: 400px;
  max-width: 100%;
  height: auto;
}

.no-messages p {
  margin: 0;
  padding: 0;
  text-align: left;
  line-height: 50px;
  font-size: 14px;
  color: #b3b3b3;
  height: 100%;
  display: flex;
  align-items: center;
}

.input_msg_write:focus-within {
  border-color: #2C6822;
}

.write_msg:focus {
  outline: none;
}

.write_msg::placeholder {
  color: #b3b3b3;
  font-size: 14px;
  line-height: normal;
}

/* Responsivitas untuk layar kecil */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .inbox_people {
    width: 100%;
    display: none; /* Sembunyikan sidebar secara default */
  }

  .inbox_people.active {
    display: block; /* Tampilkan sidebar jika aktif */
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
  }

  .mesgs {
    width: 100%;
  }
}

.menu-toggle {
  display: none;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    background-color: #007bff;
    color: white;
    padding: 10px;
    cursor: pointer;
    text-align: center;
  }
}