@media (max-width: 998px) {

  body {
    font-family: 'Plus Jakarta Sans Medium', sans-serif !important ;
  }


  * {
    padding: 0.5rem;
    overflow-x: hidden !important;
  }

  nav img{
    height: 20px !important;
  }

  main, .containersec1, .content {
    flex-direction: column !important;
    flex-flow: wrap !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  .containersec1, .containersec2, .containersec3, .containersec4 {
    width: 100% !important;
  }

  .section1, .section2, .section3, .section4 {
    flex-direction: column !important;
  }

  .section1 h1, .section1 p {
    text-align: center !important;
    margin: 1rem 0 !important;
  }

  .section1 h1 {
    font-size: 2.3rem !important;
    flex-flow: wrap !important;
    text-align: center !important;
    padding: 0 1.5rem !important;
  }

  .section1 .content {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    flex-flow: wrap !important;
  }

  .section1 .textlanding {
    margin-top: 20px;
  }

  .section1 .content {
    flex-direction: column !important;
    justify-content: center !important;
    text-align: center;
  }

  .section1 .imagehori {
    width: 20rem !important;
    height: auto !important;
    display: none;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .section1 .imagevertical {
    width: 20rem !important;
    height: auto !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .section1 p {
    margin: 10px 0 !important;
    font-size: 1rem !important;
    max-width: 15rem !important;
    text-align: justify !important;
  }

  .section2 h2 {
    align-self: center !important;
    text-align: center !important;
  }

  .section2 .text {
    text-align: justify !important;
    margin: 0 !important;
    max-width: 15rem !important;
  }

  .section2, .containersec2 {
    align-items: center !important;
    justify-items: center !important;
    padding: 0;
  }

  .section2 p {
    max-width: 15rem !important;
  }

  .section2 .imagehori {
    width: 20rem !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .section4 .imagehori {
    width: 20rem !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .section4 h2 {
    align-self: center !important;
    text-align: center !important;
    font-size: 2rem !important;
  }

  .section4 p {
    align-self: center !important;
    text-align: center !important;
    font-size: 1rem !important;
  }

  .section3 {
    margin-left: 0 !important;
  }

  .section3 h2 {
    align-self: center !important;
    text-align: center !important;
    font-size: 2rem !important;
  }

  .containersec3 {
    align-items: center !important;
    justify-items: center !important;
    padding: 0;
  }

  .fathan {
    margin-left: -1rem;
    margin-top: -4rem !important;
  }

  .fathan p, .natasya p {
    margin-top: -1rem !important;
  }

  .natasya {
    margin-top: -1rem !important;
  }

  footer {
    margin-top: 4rem;
    font-weight: lighter;
  }
}
