html {
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Plus Jakarta Sans Medium', sans-serif !important ;
}


/*body {*/
/*  margin: 0;*/
/*  background: linear-gradient(135deg, rgba(255, 255, 255, 0.6), rgba(207, 179, 138, 0.6)),*/
/*  radial-gradient(circle, rgba(44, 165, 99, 0.3), rgba(255, 255, 255, 0.2));*/
/*  backdrop-filter: blur(20px);*/
/*}*/

* {
  margin: 0;
  padding: 0rem 0rem;
  font: 1rem 'Plus Jakarta Sans Medium', sans-serif;
  flex-wrap: wrap;
  color: var(--black);
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  --primary-color: #2C6822;
  --primary-secondary-color: #1b3e15;
  --black: #2E2E2E;
  --white: #FFFFFF;
  --primary-gradient: linear-gradient(45deg, #2E2E2E, #2C6822);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px;
  background-color: transparent;
  width: 100%;
<<<<<<< HEAD

=======
  position: fixed;
>>>>>>> 58e1a468795c5b119ac6fe156345f5250cac46aa
}

nav img {
  height: 30px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 0.3rem;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: var(--black);
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s;
}

#signinbutton {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--black);
  border-radius: 12px;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

#signinbutton:hover {
  background-color: var(--black);
  color: var(--white);
}

#signupbutton {
  background-color: var(--primary-color);
  color: var(--white);
  border: 1px solid var(--primary-secondary-color);
  border-radius: 12px;
  padding: 0.5rem 1rem;
  margin-left: 0.1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

#signupbutton:hover {
  background-color: var(--primary-secondary-color);
}

.custom-navbar .navbar-nav {
  margin: 0 auto;
}

.custom-navbar .navbar-collapse {
  justify-content: center;
}

/* Section 1 */
.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  width: 100%;
}

.containersec1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80rem;
  height: max(30rem, 100%);
  padding: 2rem 2rem;
}

.section1 h1 {
  font-weight: bold;
  font-size: 4rem;
  align-self: center;
  margin-left: 4rem;
  background: var(--primary-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 4rem;
}

.section1 .imagehori {
  width: 30rem;
  margin-right: 2rem;
  margin-top: -12rem;
}

.section1 .imagevertical {
  height: 30rem;
  margin-left: 2rem;
  margin-bottom: 4rem;
}

.section1 p {
  max-width: 20rem;
  font-size: 1rem;
  margin-left: 2rem;
}

.section1 .paraghraph1 {
  color: var(--black);
  margin-top: -12rem;
}

.section1 .paraghraph2 {
  color: var(--primary-color);
}

/* Section 2 */
.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}

.containersec2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80rem;
  height: max(30rem, 100%);
  padding: 2rem 2rem;
}

.section2 .imagehori {
  width: 30rem;
  margin-right: 2rem;
  margin-left: 4rem;
}

.section2 .text {
  max-width: 25rem;
  margin-left: 2rem;
  text-align: end;
  margin-right: 4rem;
}

.section2 h2 {
  font-weight: bold;
  font-size: 2rem;
}

.section2 p {
  font-size: 1rem;
  text-align: justify;
  max-width: 12rem;
}

.containersec2 article {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

/* Section 3 */
.section3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  margin-top: 2rem;
  width: 100%;
}

.containersec3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80rem;
  height: max(30rem, 100%);
  padding: 2rem 2rem;
}

.containersec3 img {
  width: 50rem;
  align-self: center;
}

.containersec3 h2 {
  font-size: 2rem;
  font-weight: bold;
  align-self: center;
}

/* Section 4 */
.section4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}

.rowloc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.rowloc img {
  width: 20rem;
}

.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20rem;
}

.rowloc p {
  font-size: 1rem;
  max-width: 20rem;
  align-self: center;
}

.containersec4 h2 {
  align-self: center;
  font-size: 3rem;
  font-weight: bold;
  justify-self: center;
}

.containersec4 > p {
  color: var(--primary-color);
}

.person img[src="img/fathan.png"] {
  margin-left: -1rem;
}

.navbar-nav {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
}

.navbar-nav a {
  text-decoration: none;
  color: black;
  margin-right: 20px;
  font-size: 18px;
}

.navbar-nav a:hover {
  color: var(--primary-color);
}

.navbar-nav::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

.navbar-nav {
  display: flex;
  gap: 20px;
}

.navbar-nav a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  position: relative;
}

.navbar-nav a::after {
  content: '';
  display: block;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: width 0.3s ease;
}

.navbar-nav a:hover::after {
  width: 100%;
}

.btn-primary {
  background-color: var(--primary-color) !important;
  color: var(--white) !important;
  border: 1px solid var(--primary-secondary-color) !important;
  border-radius: 12px !important;
  padding: 0.5rem 1rem !important;
  margin-left: 0.1rem !important;
  cursor: pointer !important;
  transition: background-color 0.3s !important;
}

.btn-primary:hover{
  background-color: var(--primary-secondary-color) !important;
}

.no-scroll {
  overflow: hidden;
}

footer, footer * {
  color: var(--white) !important;
  font-weight: 400 !important;
}
